.card__metadata {
  font-size: 1.2rem;
}
.card__metadata-created {
  font-family: "Lato Bold";
}
.card__copy {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card_overall-votes {
  position: absolute;
  left: 0;
}

.card_overall-votes button{
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
}
