header {
  position: relative;
  z-index: 1;
}
header h1 {
  margin: 0;
}
.header__wrapper {
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
  height: 10rem;
}

.header__brand {
  margin-right: auto;
}

.header__main-nav--inline {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.header__main-nav a {
  text-decoration: none;
}
@media (min-width: 769px) {
  .header__main-nav a {
    color: white;
  }
  .header__main-nav--inline li {
    margin-left: 5rem;
  }
  .header__search {
    margin-left: 5rem;
  }
  .header__mobile-nav {
    display: none;
  }
  .header__close {
    display: none;
  }
}
.header__close {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
  color: #000000;
}
.openMenu .header__main-nav {
  right: 0;
}
@media (max-width: 768px) {
  .openMenu:after {
    content: "";
    position: fixed;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
  }
  .header__main-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70vw;
    height: 100vh;
    z-index: 100;
    background-color: #ffffff;
    padding: 4rem 2rem;
  }
  .header__main-nav li:first-child {
    border-top: solid #535353 0.1rem;
  }
  .header__main-nav a {
    color: #000000;
  }
  .header__main-nav li {
    padding: 1rem 0.5rem;
    border-bottom: solid #535353 0.1rem;
  }
  .header__main-nav--inline {
    flex-direction: column;
  }
}
.header__mobile-nav {
  font-size: 3rem;
  margin-left: 3rem;
  cursor: pointer;
}
.header__search {
  font-size: 2rem;
}
