.hero {
  color: #ffffff;
  margin-top: -12rem;
  padding-top: 12rem;
  margin-bottom: 3.5rem;
  min-height: 60vw;
  max-height: 75rem;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero svg.svg-inline--fa.fa-w-16 {
  display: block;
  margin: auto;
  width: 3.5rem;
}
/* xl screens */
@media (min-width: 1300px) {
  .hero {
    height: 60vw;
    min-height: unset;
  }
}
@media (min-width: 768px) {
  .hero__content {
    margin-top: 7rem;
  }
}
.hero__content {
  backdrop-filter: brightness(0.7) blur(40px);
  width: 100%;
  max-width: 52rem;
}
.hero__content-inner {
  padding: 3.5rem 7rem 3.5rem 3.5rem;
}
.hero__name {
  font-size: 6rem;
  font-family: "Lato Regular";
  margin-bottom: 2.5rem;
}
.hero__copy {
  font-size: 2.1rem;
  line-height: 24px;
}
.hero__more-info {
  display: flex;
  align-items: center;
  margin: 1.5rem 0 3rem;
}

.hero__more-info a{
  color: white;
}
.hero__more-info svg {
  margin-right: 0.5rem;
}
.hero__thumbs-up {
  width: 50%;
  height: 8rem;
  line-height: 8rem;
  cursor: pointer;
}
.hero__content svg {
  width: 4rem;
  height: 4rem;
}
.hero__thumbs-down {
  width: 50%;
  height: 8rem;
  line-height: 8rem;
  cursor: pointer;
}
.hero__closing {
  position: absolute;
  bottom: 0;
  display: flex;
  font-family: Helvetica;
  height: 5.5rem;
  line-height: 5.5rem;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 1200px) {
  .hero__closing {
    display: none;
  }
}
.hero__closing-left {
  width: 40vw;
  text-align: right;
  color: #ffffff;
  background-color: #56545133;
  font-size: 1.3rem;
  font-weight: 700;
  padding-right: 17px;
}

.hero__closing-right {
  width: 60vw;
  font-size: 3.6rem;
  color: #000000;
  background-color: #ffffffde;
  position: relative;
  padding-left: 1rem;
}

.hero__closing-right:before {
  transform-origin: 100% 100%;
  transform: skewY(35deg);
  top: 0;
}
.hero__closing-right:after {
  transform-origin: 100% 100%;
  transform: skewY(-35deg);
  bottom: 0;
}
.hero__closing-right:before,
.hero__closing-right:after {
  content: "";
  position: absolute;
  height: 50%;
  width: 0.7rem;
  left: -0.7rem;
  background-color: #ffffffde;
}
.hero__cta {
  font-size: 2rem;
  font-family: "Lato Bold";
}
