/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Lato Light", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --thumbs-up-color: #33bab3;
  --thumbs-down-color: #fcb242;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Lato Light";
  src: local("Lato"), url(./fonts/Lato-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato"), url(./fonts/Lato-Regular.ttf) format("truetype");
}
button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-family: "Lato Regular";
  height: 4rem;
  line-height: 4rem;
}
/* responsive images */
img {
  width: 100%;
  height: auto;
}
.ui.container {
  max-width: 102.4rem;
  margin: 0 auto;
}
.ui.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 553px 553px;
  gap: 40px;
}
.ui.card {
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 0 4.1rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  background-blend-mode: normal;
  padding-bottom: 5rem;
}
.ui.card .extra {
  margin-bottom: 3.5rem;
}
.thumbs-up {
  background-color: var(--thumbs-up-color);
}
.thumbs-down {
  background-color: var(--thumbs-down-color);
}
.ui.card .header {
  font-size: 4.5rem;
  font-family: "Lato Regular";
}
header h1 {
  margin: 0;
}
.header__wrapper {
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
}
.header__brand {
  margin-right: auto;
}

.header__main-nav--inline {
  display: flex;
  list-style: none;
  padding-left: 0;
}
@media (min-width: 769px) {
  .header__mobile-nav {
    display: none;
  }
  .header__close {
    display: none;
  }
}
.header__close {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-weight: 900;
  font-size: 25px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__main-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    z-index: 100;
    color: #000000;
    background-color: #FFFFFF;
    padding: 4rem 2rem;
  }
  .header__main-nav li:first-child {
    border-top: solid #535353 0.1rem;
  }
  .header__main-nav li {
    padding: 1rem 0.5rem;
    border-bottom: solid #535353 0.1rem;
  }
  .header__main-nav--inline {
    flex-direction: column;
  }
}
